body {
    background-color: #F5F5F5;
}
.form-login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 100px auto;
}

.form-login .title {
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    animation: mycolor 6s linear infinite alternate;
}
@keyframes mycolor {
    0% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

.form-login-input {
    margin-bottom: 1rem;
}

.form-login-input > input {
    height: 3.125rem;
    padding: 0.75rem;
    width: 100%;
}